<h1>Edit Post</h1>
<form  method="POST" action="/<% @post.id %>">
<input type ="hidden" name="_method" value="put">
    <label for="title">Title</label>
    <br>
    <input type="text" name="title">
    <br>
    <label for="body">Body</label>
    <br>
    <textarea name="body"></textarea>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>

The _method needs to be formatted that way 

